<a href="{% url 'golf:index' %}">Home</a>
<h1>Add Team</h1>
<form action="{% url 'golf:create_team' %}" method="post">
  {% csrf_token %}
  <div>
    <label>Team Name: </label><input type="text" name="team_name">
  </div>
  {% if Players %}
  <div>
    <label>Players:</label>
    <ul>
      {% for player in Players %}
      <li>{{player.player_name}}</li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <div>
    <span>Error loading Players</span>
  </div>
  {% endif %}

<input type="submit" value="Create Team">
</form>
