{% if Players %}
  <h1>Players</h1>
  <ul style="list-style-type:none;">
    {% for player in Players %}
      <li><a href="{% url 'golf:player' player.id %}">{{player.player_name}} {{player.score}}</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'golf:add_player' %}">Add Player</a>
{% else %}
  <p>no players avilable</p>
{% endif %}

{% if Team %}
  <h1>Teams</h1>
  <ul>
    {%for team in Team%}
    <li>
      <span><a href="{% url 'golf:team' team.id %}">{{team.team_name}}: {{team.get_score}}</a></span>
      <ul>
        {% for player in team.players.all %}
          <li><span>{{player.player_name}} </span><span>{{player.score}}</span></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url 'golf:add_team' %}">Add Team</a>
{% endif %}

<script type="text/javascript">
  
</script>
