<h1>{{Player.player_name}}</h1>
<h1>{{Player.score}}</h1>
<form action="{% url 'golf:update' Player.id %}" method="post">
  {% csrf_token %}
  <input type="text" name="score">
  <input type="submit" value="Update Score">
</form>

{% if Teams %}
  <ul>
    {% for team in Teams %}
      <li>
        <input type="checkbox" name="team" id=team{{forloop.counter}} value={{team.id}}
        {% for player in team.players.all %}
          {% if player.player_name == Player.player_name %} checked {% endif %}
        {% endfor %}
        >
        <span>{{team.team_name}}</span>
      </li>
    {% endfor %}
  </ul>
{% endif %}